/* Footer.css */

.footer-section {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }
  
  .social-icons {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .icon {
    margin: 0 10px;
    color: white; /* Set the color to white */
    text-decoration: none;
  }
  
  .icon:hover {
    color: #cad3dd;
  }
  
  .copyright {
    font-size: 14px;
    margin-top: 10px;
    color: white; /* Set the color to white */
  }
  