/* Portfolio Section */
.portfolio-section {
    padding: 2rem;
    text-align: center;
  }
  
  .portfolio-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Portfolio Items */
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
  
  .project-item {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .project-link {
    text-decoration: none;
    color: #007BFF; /* Change this to your desired link color */
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }
  
  .project-link:hover {
    color: #ff6347; /* Change this to your desired hover color */
  }
  